<section class="error-banner">
    <div class="error-banner__wrapper">
        <div class="error-banner__wrapper_content">
            <h1 class="error-banner__wrapper_content-title">
                Oops!
            </h1>
            <p class="error-banner__wrapper_text">
                Sorry, something went wrong...
            </p>
            <a href="{{ shop.url }}" class="error-banner__wrapper_btn">
                <p class="error-banner__wrapper_btn-text">
                    Homepage
                </p>
                <img src="left-arrow.png" class="error-banner__wrapper_btn-img">
            </a>
        </div>
    </div>
</section>