<section class="facts">
    <div class="facts__wrapper"><p class="facts__wrapper_text">{{ section.settings.text_top }}</p>
        <h2 class="facts__wrapper_title">{{ section.settings.title }}</h2>
        <div class="facts__wrapper_container facts-container">
            {% for block in section.blocks %}
                {% if block.settings.title_block != blank %}
                    <div class="facts-container__item"><p
                                class="facts-container__item_title">{{ block.settings.title_block }}</p>
                        <h2 class="facts-container__item_counter" data-index="{{ block.settings.count }}">0</h2>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
"name": "Facts",
"max_blocks": 4,
"settings": [
{
"type": "text",
"id": "text_top",
"label": "Text Top"
},
{
"type": "text",
"id": "title",
"label": "Title"
}
],
"blocks": [
{
"type": "Text",
"name": "Text Block",
"settings": [
{
"type": "text",
"id": "title_block",
"label": "Title"
},
{
"type": "text",
"id": "count",
"label": "Count Facts"
}
]
}
]
}
{% endschema %}