{%- section 'faq-banner' -%}
<section class="FAQ-tabs">
    <div class="FAQ-tabs__wrapper">
        <div class="FAQ-tabs__wrapper_titles FAQ-titles">
            {% section 'faq-template' %}
        </div>
        {% section 'faq-first-tab' %}
        {% section 'faq-second-tab' %}
        {% section 'faq-third-tab' %}
        {% section 'faq-four-tab' %}
    </div>
</section>



{% section 'subfooter' %}